.logo{
    width: 200px;
    margin-top: 20px;
    
}
nav ul li{
    font-size: 18px;
    font-weight: 600;
}
.price{
    font-size: 20px;
    margin-bottom: 20px;
}
.catagories{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
}
.hr-line{
    margin: auto;
    margin-bottom: 50px;
    width: 200px;
    height: 6px;
    background-image: linear-gradient(to right, rgb(255, 213, 0) 0%, orange 100%);
    border-radius: 3px;
}
.cate1, .cate2, .cate3{
    padding: 10px 10px;
    border-radius: 100px;   
}
.cate1{
   border: 5px solid #303030;
}
.cate2{
    border: 5px solid #303030;
}
.cate3{
    border: 5px solid #303030;
}
.categories img{
    width: 150px;
}
.smartphone{
    margin-top: 100px;
    
}
.laptops{
    margin-top: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-radius: 10px;
    border:none;
    background-color: white;
}
.ash-bg{
    background-color: #cecece;
}
#Subscribe{
    height: 300px;
    border: none;
    border-radius:0%;
    margin-top: 100px;
    
}
#Subscribe h4{
    color:gray;
    padding-bottom:10px;
}

footer{
    margin-top: 50px;
    
}
.copyright{
    margin-top: 100px;
    margin-bottom: 20px;
}
.s-buttons{
    padding: 10px 25px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-image:linear-gradient(to bottom, #bbbbbb 0%,  #585858 100%);
    color: white;
    font-size: 18px;
    font-weight: 600;
}